*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.btn{
background-color: #30B868;
padding: 12px 16px;
border: none;
border-radius: 4px;
color: #FFFFFF;
font-size: 16px;
padding: 12px 16px;
cursor: pointer;
font-weight: bold;

}

/* body{
    /* background-color: blueviolet; */

/* main style */

header{
    background-color: #FFFFFF;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  border: 1px solid red;

}


.logo img {
  height: 60px;
  margin-left: 40px;
}


.menu {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-weight: medium;
}