*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.btn{
background-color: #30B868;
padding: 12px 16px;
border: none;
border-radius: 4px;
color: #FFFFFF;
font-size: 16px;
padding: 12px 16px;
cursor: pointer;
font-weight: bold;
opacity: 1;
transition: 0.3s;

}
.white{
background-color:transparent;
background-repeat:no-repeat;
padding: 12px 16px;
border: 1px solid white;
border-radius: 4px;
color: #ffffff;
font-size: 16px;
padding: 12px 16px;
cursor: pointer;
font-weight: bold;
opacity: 1;
transition: 0.3s;

}
.btn:hover{
    opacity: 0.6;
}

.color-green{
    color:  #30B868;
}

/* body{
    /* background-color: blueviolet; */

/* main style */

header{
    background-color: #FFFFFF;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  /* border: 1px solid red; */

}


.logo img {
  height: 60px;
  margin-left: 40px;
}


.menu {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-weight: medium;
}
nav button{
    margin-right: 50px;
}
#banner{
    background: url(../assets/hero-bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-size: 1600px;
    /* border: 1px solid red; */
    height: 674px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

 .banner-content{
    /* border: 1px solid black; */
    /* margin: 133px 120px 198px 120px; */

    /* align-items: center; */
    max-width: 800px;
    color:white;
    /* width: 71%; */

}



/* #banner .banner-content .flg{
margin-top: 0px;
background-color: #FFF8F3;
width: 229px;
border: none;
border-radius: 1000px;
gap: 6px;
color: #30B868;
font-size: 16;
font-weight: 500;
padding: 8px 12px;
align-items: center; */


}
 .banner-content h1{
    /* text-align: center; */
    /* margin: 51px 195px 40px 195px; */
    /* font-size: 900; */
    /* color: #FFF8F3; */
    /* font-weight: 900; */
    font-size: 56px;
    margin: 20px 0;

 }
 .banner-content p{
    line-height: 24px;
    margin-bottom: 32px;
    margin-top: 15px;


  }
.banner-content .banner-btn{
  display: flex;
justify-content: center;
/* margin-left: 375px; */
gap: 16px;
}
/* .banner-tbg{
  background: white;
  color: #2F855A;
  padding: 8px 14px;
  border-radius: 999px;
 justify-content: center;
  font-size: 14px;
  margin-bottom: 16px;
} */

.badge {
  background: white;
  color: #2F855A;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
}