*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.btn{
background-color: #30B868;
padding: 12px 16px;
border: none;
border-radius: 4px;
color: #FFFFFF;
font-size: 16px;
padding: 12px 16px;
cursor: pointer;
font-weight: bold;
opacity: 1;
transition: 0.3s;

}
.white{
background-color:transparent;
background-repeat:no-repeat;
padding: 12px 16px;
border: 1px solid white;
border-radius: 4px;
color: #ffffff;
font-size: 16px;
padding: 12px 16px;
cursor: pointer;
font-weight: bold;
opacity: 1;
transition: 0.3s;

}

.white:hover{
    opacity: 0.3;
}

.btn:hover{
    opacity: 0.4;
}

.color-green{
    color:  #30B868;
}

/* body{
    /* background-color: blueviolet; */

/* main style */

header{
    background-color: #FFFFFF;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  /* border: 1px solid red; */

}


.logo img {
  height: 60px;
  margin-left: 40px;
}


.menu {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-weight: medium;
}
nav button{
    margin-right: 50px;
}
#banner{
    background: url(../assets/hero-bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-size: 1600px;
    /* border: 1px solid red; */
    height: 674px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

 .banner-content{
    /* border: 1px solid black; */
    /* margin: 133px 120px 198px 120px; */

    /* align-items: center; */
    max-width: 800px;
    color:white;
    /* width: 71%; */

}



/* #banner .banner-content .flg{
margin-top: 0px;
background-color: #FFF8F3;
width: 229px;
border: none;
border-radius: 1000px;
gap: 6px;
color: #30B868;
font-size: 16;
font-weight: 500;
padding: 8px 12px;
align-items: center; */


}
 .banner-content h1{
    /* text-align: center; */
    /* margin: 51px 195px 40px 195px; */
    /* font-size: 900; */
    /* color: #FFF8F3; */
    /* font-weight: 900; */
    font-size: 56px;
    margin: 20px 0;

 }
 .banner-content p{
    line-height: 24px;
    margin-bottom: 32px;
    margin-top: 15px;


  }
.banner-content .banner-btn{
  display: flex;
justify-content: center;
/* margin-left: 375px; */
gap: 16px;
}
/* .banner-tbg{
  background: white;
  color: #2F855A;
  padding: 8px 14px;
  border-radius: 999px;
 justify-content: center;
  font-size: 14px;
  margin-bottom: 16px;
} */

.badge {
  background: white;
  color: #2F855A;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 14px;
}

#fail .fail-content{
  align-items: center;
  padding: 100px 80px;
  text-align: center;
  /* border: 1px solid black; */
}
.fail-content h2{
  font-size: 48px;
  color: #001931;
  font-weight: bold;
}

.fail-content p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-top: 16px;
}


#fail .card-box{
 margin: 0 120px;
 display: flex;
 gap: 24px;
 justify-content: center;
 text-align: center;
}
.cards img{
  background-color: #F95555;
  margin-bottom: 16px;
  border-radius: 100%;
}

.cards {
  background: white;
  padding: 24px;
  /* border: 1px solid red; */

  border-radius: 12px;
  box-shadow: 0 0px 8px 0 #0000009d;
}

.cards h3{
  color: #001931;
  font-size: 24px;
  /* padding: 16 24; */
  margin-bottom: 20px;
}

 .cards p{
  font-size: 16px;
  line-height: 20px;

  color: #627382;
}